html {background-color: pink}
head {font-family: 'Montserrat', sans-serif;}
h1 {
	font-family: 'Architects Daughter', cursive;
	text-align:center;
	text-transform: uppercase;
}
slogan {
	font-weight: 700;
	font-style: italic;
	font-size: 32px;
	text-align: center;
}
body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
	
p {font-size: 28px;}